<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootadmin.min.css">
    <script src="js/core.js"></script>
    <script src="js/charts.js"></script>
    <script src="js/maps.js"></script>
    <script src="js/animated.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <title>Freight DataVis</title>
</head>
<body class="bg-light">
    <nav class="navbar navbar-expand navbar-dark bg-primary">
        <a class="navbar-brand" href="/home">Freight DataVis</a>
    </nav>

    <div class="d-flex">
        <div class="sidebar sidebar-dark bg-dark">
            <ul class="list-unstyled">
                <li><a href="/road">Road Safety</a></li>
                <li><a href="/rail">Rail</a></li>
                <li><a href="/region">Region Data</a></li>
                <li><a href="/chord">Movements bettween regions</a></li>
                <li><a href="/newcastle">Newcastle</a>
                <li><a href="/ks">Kingsford Smith Air Freight</a></li>
                <li><a href="/glossary">Glossary</a>
            </ul>
        </div>
        <div class="content p-4">
            <div>
                <div>
                    {{{body}}}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
