<div class="card mb-4">
    <h2 class="card-header">Glossary</h2>
    <div class="chart card-body">
        <table class="table table-bordered">
            <tr>
                <th>Word</th>
                <th>Definition</th>
            </tr>
            <tr>
                <td>Alluminia</td>
                <td>A substance commonly used in Alumminium Smelting. <a href="https://www.britannica.com/science/alumina">More</a></td>
            </tr>
            <tr>
                <td>TEU</td>
                <td>Twenty Foot Equivallent Unit. An ammount of freight equivallent to a standard twenty foot container.</td>
            </tr>
            <tr>
                <td>Petrolleum Coke</td>
                <td>A type of <a href="https://en.wikipedia.org/wiki/Coke_(fuel)">coke</a> derived from oil refining. <a href="https://en.wikipedia.org/wiki/Petroleum_coke">More</a></td>
            </tr>
        </table>
    </div>
</div>