<div class="card mb-4">
    <h2 class="card-header">Glossary</h2>
    <div class="chart card-body">
        <table class="table table-bordered">
            <tr>
                <th>Word</th>
                <th>Definition</th>
            </tr>
            <tr>
                <td>Aluminia</td>
                <td>A substance commonly used in aluminium smelting. <a href="https://www.britannica.com/science/alumina">Encyclopedia Britannica article on alluminia</a></td>
            </tr>
            <tr>
                <td>TEU</td>
                <td>Twenty Foot Equivalent Unit. An ammount of freight equivallent to a standard twenty foot container.</td>
            </tr>
            <tr>
                <td>Petroleum Coke</td>
                <td>A type of <a href="https://en.wikipedia.org/wiki/Coke_(fuel)">coke</a> derived from oil refining. <a href="https://en.wikipedia.org/wiki/Petroleum_coke">Wikipedia on Petroleum Coke</a></td>
            </tr>
            <tr>
                <td>Region</td>
                <td>For this project regions refer to SA3 (Statistical Area Level 3) for NSW. <a href="https://itt.abs.gov.au/itt/r.jsp?ABSMaps">Map to See Boundaries (ABS)</a>, <a href="https://www.abs.gov.au/ausstats/abs@.nsf/Lookup/by Subject/1270.0.55.001~July 2016~Main Features~Statistical Area Level 3 (SA3)~10015">More information (ABS)</a></td>
            </tr>
        </table>
    </div>
</div>