<h1>NSW Freight Data Visualisation</h1>
<div class = "card mb-4">
    <div class="card-header">
        <h2>Road Safety for Freight Vehicles</h2>
    </div>
    <div class = "card-body">
        <a href="/road"><img src="/images/road.jpg"><br><h5>Click here to view freight safety data.</h5></a>
    </div>
</div>
<div class = "card mb-4">
    <div class="card-header">
        <h2>Rail Use</h2>
    </div>
    <div class="card-body">
        <a href="/rail"><img src="/images/rail.jpg"><br><h5>Click here to view rail data.</h5></a>
    </div>
</div>
<div class = "card mb-4">
    <div class="card-header">
        <h2>Region Data</h2>
    </div>
    <div class="card-body">
        <a href="/region"><img src="/images/PieI.jpg"><img src="/images/PieE.jpg"><br><h5>Click here to see data for Ku-Ring-Gai Imports/Exports.</h5></a>
    </div>
</div>
<div class = "card mb-4">
    <div class="card-header">
        <h2>Port of Newcastle</h2>
    </div>
    <div class="card-body">
        <a href="/newcastle"><img src="/images/portnc.jpg" height="70%" width="70%"><br><h5>Click here to see Imports and Exports for The Port of Newcastle</h5></a>
    </div>
</div>
<div class = "card mb-4">
    <div class="card-header">
        <h2>Kingsford Smith Air Freight</h2>
    </div>
    <div class="card-body">
        <a href="/ks"><img src="/images/ksair.jpg" height="70%" width="70%"><br><h5>Click here to see Imports and Exports for Kingsford Smith Airport.</h5></a>
    </div>
</div>