<h1>Ku-Ring-Gai Data</h1>
<div class="card mb-4">
    <h1 class="card-header">Data for Ku-Ring-Gai</h1>
    <div class="card-body">
        <div style="width: 40% display: inline-block;">
            <p>Shows Imports</p>
            <a href="regionI"><img src="/images/PieI.png">Click here to show Imports for Ku-Ring-Gai</a>
        </div>
        <div style="width: 40% display: inline-block;">
            <p>Shows Exports</p>
            <a href="regionE"><img src="/images/PieE.png">Click here to show Exports for Ku-Ring-Gai</a>
        </div>
    </div>
</div>


